<!DOCTTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            body {
                overflow: hidden;
            }

            #wrap {
                width: 100vw;
                height: 100vh;
                display: flex;
                perspective: 8000px;

            }

            #content {
                transform-style: preserve-3d;
                position: relative;
                /* border: 1px solid #ff0000; */
                margin: auto;

            }

            #content>div {
                transform-style: preserve-3d;
                position: absolute;
                top: 0;
                left: 0;
                /* transition: 0.2s; */
                transform-origin: 150px 150px -100px;
            }

            #content>div>p {
                border: 2px solid #000000;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            #button {
                box-sizing: border-box;
                position: relative;
                margin: auto;
            }

            #button>input {
                position: absolute;
                /* margin: auto; */
            }
        </style>
        <script src="vue.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>
        <div id="wrap">
            <div id="content" :style="{
                width: (count*side) + 'px',
                height: (count*side) + 'px',
                <!-- 'transform-origin': (count*side/2)+'px ' + (count*side/2) + 'px - ' + (count*side/2) + 'px', -->
                'transform': 'rotateX(' + contentrotate.x +'deg) rotateY(' + contentrotate.y +'deg)',
                'transition': transition + 's'
            }">

                <div v-for="block in blocks" :x="block.x" :y="block.y" :z="block.z" :style="{
                    width: side+'px',
                    height: side+'px',
                    'transform-origin': side*count/2 + 'px' 
                                      + side*count/2 + 'px -' 
                                      + side*count/3 + 'px',
                    'transform':    'rotateX('+ block.rotate.x + 'deg) '
                                + 'rotateY('+ block.rotate.y + 'deg) ' 

                                + 'rotateZ('+ block.rotate.z + 'deg) '
                                + 'translateX(' + (side*block.x) 
                                + 'px) translateY('  + (side*block.y) 
                                + 'px) translateZ(-' + (side*block.z) + 'px)',
                    'transition': transition + 's'
                }">
                    <p v-for="area in block.areas" :class="area.direct" :style="{
                            transform: area.transform,
                            background: area.color 
                       }" @mousedown="down($event, area)">
                    </p>
                </div>
            </div>
            <div id=button>
                <input type="button" value="U" :style="{
                    transform: 'translate(-200px, 200px)',
                        width: '80',
                        height: '80',
                        'font-size': '40'
                }" @click="Rotate('U')" />

                <input type="button" value="U'" :style="{
                    transform: 'translate(-100px, 200px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('U_')" />

                <input type="button" value="F" :style="{
                    transform: 'translate(-200px, 300px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('F')" />

                <input type="button" value="F'" :style="{
                    transform: 'translate(-100px, 300px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('F_')" />

                <input type="button" value="R" :style="{
                    transform: 'translate(0px, 300px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('R')" />

                <input type="button" value="R'" :style="{
                    transform: 'translate(0px, 400px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('R_')" />

                <input type="button" value="L" :style="{
                    transform: 'translate(-300px, 400px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('L')" />

                <input type="button" value="L'" :style="{
                    transform: 'translate(-300px, 300px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('L_')" />

                <input type="button" value="D" :style="{
                    transform: 'translate(-200px, 500px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('D')" />

                <input type="button" value="D'" :style="{
                    transform: 'translate(-100px, 500px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('D_')" />

                <input type="button" value="B" :style="{
                    transform: 'translate(-100px, 400px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('B')" />

                <input type="button" value="B'" :style="{
                    transform: 'translate(-200px, 400px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('B_')" />

                <input type="button" value="x'" :style="{
                    transform: 'translate(-100px, -100px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('x_')" />

                <input type="button" value="x" :style="{
                    transform: 'translate(-100px, -300px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('x')" />

                <input type="button" value="y'" :style="{
                    transform: 'translate(-200px, -200px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('y_')" />

                <input type="button" value="y" :style="{
                    transform: 'translate(0px, -200px)',
                    width: '80',
                    height: '80',
                    'font-size': '40'
                }" @click="Rotate('y')" />
            </div>
        </div>
        <script>
            new Vue({
                el: '#wrap',
                data() {
                    return {
                        count: 3,
                        side: 100,
                        blocks: [],
                        contentrotate: {
                            x: - 30,
                            y: -30
                        },
                        transition: 0
                    }
                },
                created() {
                    this.getBlocks()
                    // console.log(this.blocks)
                    document.onkeydown = (event) => {
                        //y'
                        this.Rotate(this.getOperation(event.keyCode))
                    }
                },
                methods: {
                    getOperation(keycode) {
                        const operation = {
                            74: 'U',
                            70: 'U_',
                            85: 'F',
                            82: 'F_',
                            83: 'D',
                            76: 'D_',
                            86: 'L',
                            65: 'L_',
                            186: 'R',
                            78: 'R_',
                            88: 'B',
                            190: 'B_',
                            37: 'y_',
                            38: 'x',
                            39: 'y',
                            40: 'x_',
                        }

                        return operation[keycode]
                    },

                    Rotate(Operation) {
                        //UP
                        if (Operation === 'U') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].y === 0) {
                                    this.transition = 0
                                    const oldx = this.blocks[i].x
                                    this.blocks[i].x = this.blocks[i].z
                                    this.blocks[i].z = 2 - oldx
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'right' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.y += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.y -= 90
                                    }, 0)
                                }
                            }
                        }

                        //U'
                        else if (Operation === 'U_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].y === 0) {
                                    this.transition = 0
                                    const oldz = this.blocks[i].z
                                    this.blocks[i].z = this.blocks[i].x
                                    this.blocks[i].x = 2 - oldz
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'left' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.y -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.y += 90
                                    }, 0)
                                }
                            }
                        }

                        //Left
                        else if (Operation === 'L') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].x === 0) {
                                    this.transition = 0
                                    const oldz = this.blocks[i].z
                                    this.blocks[i].z = this.blocks[i].y
                                    this.blocks[i].y = 2 - oldz
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'down' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'up' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.x += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.x -= 90
                                    }, 0)
                                }
                            }

                        }

                        //L'
                        else if (Operation === 'L_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].x === 0) {
                                    this.transition = 0
                                    const oldy = this.blocks[i].y
                                    this.blocks[i].y = this.blocks[i].z
                                    this.blocks[i].z = 2 - oldy
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'up' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'down' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.x -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.x += 90
                                    }, 0)
                                }
                            }

                        }

                        //Rright
                        else if (Operation === 'R') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].x === 2) {
                                    this.transition = 0
                                    const oldy = this.blocks[i].y
                                    this.blocks[i].y = this.blocks[i].z
                                    this.blocks[i].z = 2 - oldy
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'down' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'up' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.x -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.x += 90
                                    }, 0)
                                }
                            }
                        }

                        //R'
                        else if (Operation === 'R_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].x === 2) {
                                    this.transition = 0
                                    const oldz = this.blocks[i].z
                                    this.blocks[i].z = this.blocks[i].y
                                    this.blocks[i].y = 2 - oldz
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'up' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'down' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.x += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.x -= 90
                                    }, 0)
                                }
                            }
                        }

                        //Face
                        else if (Operation === 'F') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].z === 0) {
                                    this.transition = 0
                                    const oldy = this.blocks[i].y
                                    this.blocks[i].y = this.blocks[i].x
                                    this.blocks[i].x = 2 - oldy
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'down' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'up' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.z -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.z += 90
                                    }, 0)
                                }
                            }
                        }

                        //F'
                        else if (Operation === 'F_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].z === 0) {
                                    this.transition = 0
                                    const oldx = this.blocks[i].x
                                    this.blocks[i].x = this.blocks[i].y
                                    this.blocks[i].y = 2 - oldx
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'up' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'down' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.z += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.z -= 90
                                    }, 0)
                                }
                            }
                        }

                        //Back
                        else if (Operation === 'B') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].z === 2) {
                                    this.transition = 0
                                    const oldx = this.blocks[i].x
                                    this.blocks[i].x = this.blocks[i].y
                                    this.blocks[i].y = 2 - oldx
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'down' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'up' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.z += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.z -= 90
                                    }, 0)
                                }
                            }
                        }

                        //B'
                        else if (Operation === 'B_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].z === 2) {
                                    this.transition = 0
                                    const oldy = this.blocks[i].y
                                    this.blocks[i].y = this.blocks[i].x
                                    this.blocks[i].x = 2 - oldy
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'down' }
                                        else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'up' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.z -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.z += 90
                                    }, 0)
                                }
                            }
                        }

                        //Down
                        else if (Operation === 'D') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].y === 2) {
                                    this.transition = 0
                                    const oldz = this.blocks[i].z
                                    this.blocks[i].z = this.blocks[i].x
                                    this.blocks[i].x = 2 - oldz
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'left' }
                                        else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'right' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.y -= 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.y += 90
                                    }, 0)
                                }
                            }
                        }

                        //D'
                        else if (Operation === 'D_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                if (this.blocks[i].y === 2) {
                                    this.transition = 0
                                    const oldx = this.blocks[i].x
                                    this.blocks[i].x = this.blocks[i].z
                                    this.blocks[i].z = 2 - oldx
                                    for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                        if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'right' }
                                        else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'face' }
                                        else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'back' }
                                        else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'left' }
                                        this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                    }
                                    this.blocks[i].rotate.y += 90
                                    setTimeout(() => {
                                        this.transition = 0.2
                                        this.blocks[i].rotate.y -= 90
                                    }, 0)
                                }
                            }
                        }

                        //y'
                        else if (Operation === 'y_') {
                            for (let i = 0; i < this.blocks.length; i++) {

                                this.transition = 0
                                const oldz = this.blocks[i].z
                                this.blocks[i].z = this.blocks[i].x
                                this.blocks[i].x = 2 - oldz
                                for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                    if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'right' }
                                    else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'face' }
                                    else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'back' }
                                    else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'left' }
                                    this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                }
                                this.blocks[i].rotate.y -= 90
                                setTimeout(() => {
                                    this.transition = 0.2
                                    this.blocks[i].rotate.y += 90
                                }, 0)
                            }
                        }
                        //y
                        else if (Operation === 'y') {
                            for (let i = 0; i < this.blocks.length; i++) {

                                this.transition = 0
                                const oldx = this.blocks[i].x
                                this.blocks[i].x = this.blocks[i].z
                                this.blocks[i].z = 2 - oldx
                                for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                    if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'left' }
                                    else if (this.blocks[i].areas[j].direct === 'left') { this.blocks[i].areas[j].direct = 'back' }
                                    else if (this.blocks[i].areas[j].direct === 'right') { this.blocks[i].areas[j].direct = 'face' }
                                    else if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'right' }
                                    this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                }
                                this.blocks[i].rotate.y += 90
                                setTimeout(() => {
                                    this.transition = 0.2
                                    this.blocks[i].rotate.y -= 90
                                }, 0)
                            }
                        }

                        else if (Operation === 'x') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                this.transition = 0
                                const oldz = this.blocks[i].z
                                this.blocks[i].z = this.blocks[i].y
                                this.blocks[i].y = 2 - oldz
                                for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                    if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'up' }
                                    else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'face' }
                                    else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'back' }
                                    else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'down' }
                                    this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                }
                                this.blocks[i].rotate.x += 90
                                setTimeout(() => {
                                    this.transition = 0.2
                                    this.blocks[i].rotate.x -= 90
                                }, 0)
                            }
                        }

                        else if (Operation === 'x_') {
                            for (let i = 0; i < this.blocks.length; i++) {
                                this.transition = 0
                                const oldy = this.blocks[i].y
                                this.blocks[i].y = this.blocks[i].z
                                this.blocks[i].z = 2 - oldy
                                for (let j = 0; j < this.blocks[i].areas.length; j++) {
                                    if (this.blocks[i].areas[j].direct === 'back') { this.blocks[i].areas[j].direct = 'down' }
                                    else if (this.blocks[i].areas[j].direct === 'up') { this.blocks[i].areas[j].direct = 'back' }
                                    else if (this.blocks[i].areas[j].direct === 'down') { this.blocks[i].areas[j].direct = 'face' }
                                    else if (this.blocks[i].areas[j].direct === 'face') { this.blocks[i].areas[j].direct = 'up' }
                                    this.blocks[i].areas[j].transform = this.getarea(this.blocks[i].areas[j].direct).transform
                                }
                                this.blocks[i].rotate.x -= 90
                                setTimeout(() => {
                                    this.transition = 0.2
                                    this.blocks[i].rotate.x += 90
                                }, 0)
                            }

                        }
                    },

                    getBlocks() {
                        for (let x = 0; x < this.count; x++) {
                            for (let y = 0; y < this.count; y++) {
                                for (let z = 0; z < this.count; z++) {
                                    const block = {
                                        x: x,
                                        y: y,
                                        z: z,
                                        rotate: {
                                            x: 0,
                                            y: 0,
                                            z: 0
                                        },
                                        areas: this.getareas(x, y, z)
                                    }
                                    this.blocks.push(block)
                                }
                            }

                        }
                    },

                    getareas(x, y, z) {
                        const areas = []
                        if (x === 0)
                            areas.push(this.getarea('left'))
                        if (x === this.count - 1)
                            areas.push(this.getarea('right'))
                        if (y === 0)
                            areas.push(this.getarea('up'))
                        if (y === this.count - 1)
                            areas.push(this.getarea('down'))
                        if (z === 0)
                            areas.push(this.getarea('face'))
                        if (z === this.count - 1)
                            areas.push(this.getarea('back'))
                        return areas

                    },

                    getarea(direct) {
                        const transform = {
                            up: 'translateY(-' + this.side / 2 + 'px) rotateX(90deg)',
                            down: 'translateY(' + this.side / 2 + 'px) rotateX(-90deg)',
                            left: 'translateX(-' + this.side / 2 + 'px) rotateY(-90deg)',
                            right: 'translateX(' + this.side / 2 + 'px) rotateY(90deg)',
                            face: 'translateZ(' + this.side / 2 + 'px)',
                            back: 'translateZ(-' + this.side / 2 + 'px)'
                        }

                        const colors = {
                            up: 'yellow',
                            down: 'white',
                            left: 'orange',
                            right: 'red',
                            face: 'blue',
                            back: 'green'
                        }

                        return {
                            direct: direct,
                            transform: transform[direct],
                            color: colors[direct],
                        }
                    },

                    down(event, area) {
                        event.preventDefault()
                        const x = area.x
                        const y = area.y
                        const z = area.z
                        const startx = event.pageX || event.clientX
                        const starty = event.pageY || event.clientY
                        document.onmouseup = (event) => {
                            const endx = event.pageX || event.clientX
                            const endy = event.pageY || event.clientY
                            if (Math.abs(endx - startx) > Math.abs(endy - starty)) {
                                const Clockwise = endx > startx
                                this.RotateY(x, y, z, Clockwise)
                            }
                            else {
                                console.log('y')
                                const Clockwise = endy < starty
                                this.RotateX(x, y, z, Clockwise)
                            }
                            document.onmouseup = null
                        }
                    },

                    RotateY(x, y, z, Clockwise) {
                        if (Clockwise === true) val = 1
                        else val = -1
                        for (let i = 0; i < this.blocks.length; i++) {
                            if (this.blocks[i].y === y) {
                                this.blocks[i].rotate.y += 90 * val
                            }
                        }
                    },

                    RotateX(x, y, z, Clockwise) {
                        if (Clockwise === true) val = 1
                        else val = -1
                        for (let i = 0; i < this.blocks.length; i++) {
                            if (this.blocks[i].x === x) {
                                this.blocks[i].rotate.x += 90 * val
                            }
                        }
                    },
                }

            })
        </script>
    </body>

    </html>
    <!-- vue3 -->
